---
# linted with yamllint
os: linux
language: go
go:
  - 1.13.4
env:
  global:
    - GOPROXY=https://proxy.golang.org
matrix:
  include:
    - language: go
      arch: arm64
      name: Code Lint
      go: 1.13.4
      env:
        - TESTSUITE=lintall
      before_install:
        - sudo apt-get install -y libvirt-dev
      script: make test

    - language: go
      arch: arm64 
      name: Unit Test
      go: 1.13.4
      env:
        - TESTSUITE=unittest
      before_install:
        - sudo apt-get install -y libvirt-dev
      script: make test

    - language: go
      arch: arm64
      name: Build
      go: 1.13.4
      script: make

    - language: go
      arch: ppc64le
      name: Code Lint
      go: 1.13.4
      env:
        - TESTSUITE=lintall
      before_install:
        - sudo apt-get install -y libvirt-dev
      script: make test

    - language: go
      arch: ppc64le 
      name: Unit Test
      go: 1.13.4
      env:
        - TESTSUITE=unittest
      before_install:
        - sudo apt-get install -y libvirt-dev
      script: make test

    - language: go
      arch: ppc64le
      name: Build
      go: 1.13.4
      script: make

after_success:
  - bash <(curl -s https://codecov.io/bash)
travisBuddy:
    regex: (FAIL:|\.go:\d+:|^panic:|failed$)

branch_only:
  - s390x-travis
notifications:
  webhooks:
    urls:
      - https://www.travisbuddy.com?only=failed,errored
    on_success: never  # don't comment on successful builds.
    on_failure: always
    on_cancel: always
    on_error: always
